# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Виртуальное окружение
venv/
env/
.venv/

# База данных
instance/
*.sqlite
*.db

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Переменные окружения
.env